@use './variables.scss' as *;

.search{
  width: 50%;
}

.search__input{
  width: 100%;
  border-radius: 20px;
}

.search__error{
  color: $coral-color;
  position: relative;
  top: -25px;
  left: 20px;
  height: 0;
}

.ant-input-search .ant-input-search-button {
  height: 43px;
}
.ant-input-search-button{
  background: $coral-color;
}

.anticon-search{
  font-size: 20px;
}

@media (max-width:640px) {
  .search{
    width: 70%;
  }
}